.heading {

    font-size: 50px;

}

.headingDiv {
    text-align: center;
    font-weight: bold;
    background-color: rgb(116, 116, 116);
    color: white;
    padding-bottom: 5vw;
}

.play {
    width: 10vw;
    height: 7vw;
    padding-top: 3vw;
    margin-left: 45%;
    border-radius: 50%;
    border: 2px solid blue;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: azure;
    font-size: 20px;
    text-align: center;
}